<body background="old_sweeper.jpg" class="Login">
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <h2 class="title">Showing All Routes in Boston</h2>
                      </div>
                      <div class="content table-responsive table-full-width">
                        <% cache(fingerprint(@routes) + "routes-for-all-routes") do %>
                          <%= render "shared/table" %>
                          <% end %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
