<body background="old_sweeper.jpg" class="Login">
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <% if @routes.empty? %>
                        <h1 class="text-center"><strong>No Routes Found</strong></h1>
                        <h4 class="text-center">Please check the street name and suffix and try again</h4>
                        <p class="text-center"><%= link_to 'Back to Search Form', :back %></p>
                          <% else %>
                            <h2 class="title text-center">Showing Routes for <%= @routes.first.street %></h2>
                      </div>
                        <div class="content table-responsive table-full-width">
                            <% cache(fingerprint(@routes.first.street) + "routes-for-#{@routes.first.street}") do %>
                              <%= render "shared/table" %>
                            <% end %>
                          <% end %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <%#= paginate @routes %>
  </div>
</body>
