  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <h2 class="title">Showing Routes for <%= @routes.first.street %></h2>
                      </div>
                      <div class="content table-responsive table-full-width">
                        <% cache(fingerprint(@routes.first.street) + "routes-for-#{@routes.first.street}") do %>
                          <%= render "shared/table" %>
                        <% end %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
