<body background="old_sweeper.jpg" class="Login">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center logo-margin ">
            <font color="#DD4B39">
            <h1 class="home"><code>Welcome to Swept Away</code></h1>
            <h4 class="home"><code>Boston's Street Sweeping Directory</code></h4>
            </font>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body home-sign-in">
                        <form role="form">
                            <fieldset>
                                <%= link_to '<i class="fa fa-google"></i> Sign in with Google'.html_safe, "/auth/google", class: "btn btn-block btn-social btn-lg btn-google" %>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Core Scripts - Include with every page -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>

</body>
