<div class="container">
  <%= form_tag :search, method: :get do %>
  <h3>I want sweeping routes for:</h3>
    <div class="row">
      <%= text_field_tag :q, placeholder="Street Name" %>
      <%= select_tag(:suffix, options_for_select([['St'],
                                                  ['Pl'],
                                                  ['Ave'],
                                                  ['Blvd'],
                                                  ['Rd'],
                                                  ['Cir'],
                                                  ['Ct'],
                                                  ['Dr'],
                                                  ['Ln'],
                                                  ['Pkwy'],
                                                  ['Park'],
                                                  ['Way'],
                                                  ['Pl']]))%>
      <%= submit_tag "search" %>
      <% end %>
    </div>
</div>
